<a href="https://colab.research.google.com/github/ashkanmulla/DataScience_13_September/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
income = pd.read_csv("/content/income.csv")

In [3]:
income

   Index                 State    Y2002  ...    Y2013    Y2014    Y2015
0      A               Alabama  1296530  ...  1852841  1558906  1916661
1      A                Alaska  1170302  ...  1985302  1580394  1979143
2      A               Arizona  1742027  ...  1363279  1525866  1647724
3      A              Arkansas  1485531  ...  1591896  1360959  1329341
4      C            California  1685349  ...  1156536  1388461  1644607
5      C              Colorado  1343824  ...  1178355  1383978  1330736
6      C           Connecticut  1610512  ...  1582249  1503156  1718072
7      D              Delaware  1330403  ...  1671279  1803169  1627508
8      D  District of Columbia  1111437  ...  1912654  1782169  1410183
9      F               Florida  1964626  ...  1107448  1407784  1170389
10     G               Georgia  1929009  ...  1887157  1259353  1725470
11     H                Hawaii  1461570  ...  1517184  1948108  1150882
12     I                 Idaho  1353210  ...  1312561  1713718  1757171
13     I              Illinois  1508356  ...  1915435  1645465  1583516
14     I               Indiana  1776918  ...  1129794  1988394  1467614
15     I                  Iowa  1499269  ...  1173694  1431705  1641866
16     K                Kansas  1509054  ...  1410249  1930090  1385528
17     K              Kentucky  1813878  ...  1878271  1722762  1913350
18     L             Louisiana  1584734  ...  1287663  1908602  1403857
19     M                 Maine  1582720  ...  1318546  1116792  1529233
20     M              Maryland  1579713  ...  1314343  1979529  1569566
21     M         Massachusetts  1647582  ...  1731917  1669749  1963337
22     M              Michigan  1295635  ...  1815596  1965196  1646634
23     M             Minnesota  1729921  ...  1972021  1515366  1864553
24     M           Mississippi  1983285  ...  1907777  1649668  1991232
25     M              Missouri  1221316  ...  1698105  1767835  1996005
26     M               Montana  1877154  ...  1465705  1110394  1125903
27     N              Nebraska  1885081  ...  1690920  1459243  1802211
28     N                Nevada  1426117  ...  1283813  1225348  1903804
29     N         New Hampshire  1419776  ...  1197576  1242623  1963313
30     N            New Jersey  1605532  ...  1100990  1850165  1183568
31     N            New Mexico  1819239  ...  1623388  1533494  1868612
32     N              New York  1395149  ...  1718837  1619033  1367705
33     N        North Carolina  1616742  ...  1104893  1596452  1229085
34     N          North Dakota  1618807  ...  1529024  1563898  1604118
35     O                  Ohio  1802132  ...  1840898  1880804  1573117
36     O              Oklahoma  1173918  ...  1900523  1956742  1307678
37     O                Oregon  1794912  ...  1522129  1509171  1893515
38     P          Pennsylvania  1320191  ...  1475344  1931500  1668232
39     R          Rhode Island  1501744  ...  1531212  1990412  1611730
40     S        South Carolina  1631522  ...  1591735  1188417  1110655
41     S          South Dakota  1159037  ...  1147488  1302834  1136443
42     T             Tennessee  1811867  ...  1560887  1349173  1162164
43     T                 Texas  1520591  ...  1698698  1646508  1705322
44     U                  Utah  1771096  ...  1123353  1801019  1729273
45     V               Vermont  1146902  ...  1146278  1282790  1565924
46     V              Virginia  1134317  ...  1647032  1706707  1850394
47     W            Washington  1977749  ...  1273834  1387428  1377341
48     W         West Virginia  1677347  ...  1683127  1204344  1198791
49     W             Wisconsin  1788920  ...  1510119  1701650  1846238
50     W               Wyoming  1775190  ...  1994022  1204029  1853858

[51 rows x 16 columns]

In [4]:
income.columns

Index(['Index', 'State', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015'],
      dtype='object')

In [5]:
income.columns[0:2]

Index(['Index', 'State'], dtype='object')

In [6]:
income.dtypes

Index    object
State    object
Y2002     int64
Y2003     int64
Y2004     int64
Y2005     int64
Y2006     int64
Y2007     int64
Y2008     int64
Y2009     int64
Y2010     int64
Y2011     int64
Y2012     int64
Y2013     int64
Y2014     int64
Y2015     int64
dtype: object

In [7]:
income['State'].dtypes

dtype('O')

In [8]:
income.Y2008 = income.Y2008.astype(float)
income.dtypes

Index     object
State     object
Y2002      int64
Y2003      int64
Y2004      int64
Y2005      int64
Y2006      int64
Y2007      int64
Y2008    float64
Y2009      int64
Y2010      int64
Y2011      int64
Y2012      int64
Y2013      int64
Y2014      int64
Y2015      int64
dtype: object

In [9]:
income.shape

(51, 16)

In [10]:
s = pd.Series([1,2,3,1,2], dtype="category")
s

0    1
1    2
2    3
3    1
4    2
dtype: category
Categories (3, int64): [1, 2, 3]

In [11]:
income.Index.unique()

array(['A', 'C', 'D', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'O', 'P',
       'R', 'S', 'T', 'U', 'V', 'W'], dtype=object)

In [12]:
income.Index.nunique()

19

In [13]:
pd.crosstab(income.Index,income.State)

State  Alabama  Alaska  Arizona  ...  West Virginia  Wisconsin  Wyoming
Index                            ...
A            1       1        1  ...              0          0        0
C            0       0        0  ...              0          0        0
D            0       0        0  ...              0          0        0
F            0       0        0  ...              0          0        0
G            0       0        0  ...              0          0        0
H            0       0        0  ...              0          0        0
I            0       0        0  ...              0          0        0
K            0       0        0  ...              0          0        0
L            0       0        0  ...              0          0        0
M            0       0        0  ...              0          0        0
N            0       0        0  ...              0          0        0
O            0       0        0  ...              0          0        0
P            0       0        0  ...              0          0        0
R            0       0        0  ...              0          0        0
S            0       0        0  ...              0          0        0
T            0       0        0  ...              0          0        0
U            0       0        0  ...              0          0        0
V            0       0        0  ...              0          0        0
W            0       0        0  ...              1          1        1

[19 rows x 51 columns]

In [14]:
income.Index.value_counts(ascending = True)

H    1
U    1
G    1
R    1
L    1
F    1
P    1
K    2
T    2
S    2
D    2
V    2
C    3
O    3
A    4
W    4
I    4
M    8
N    8
Name: Index, dtype: int64

In [15]:
income.sample(n = 5)
income.sample(frac = 0.1)

   Index                 State    Y2002  ...    Y2013    Y2014    Y2015
15     I                  Iowa  1499269  ...  1173694  1431705  1641866
8      D  District of Columbia  1111437  ...  1912654  1782169  1410183
35     O                  Ohio  1802132  ...  1840898  1880804  1573117
23     M             Minnesota  1729921  ...  1972021  1515366  1864553
18     L             Louisiana  1584734  ...  1287663  1908602  1403857

[5 rows x 16 columns]

In [16]:
income["State"]
income.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [17]:
income[["Index","State","Y2008"]]

   Index                 State      Y2008
0      A               Alabama  1945229.0
1      A                Alaska  1551826.0
2      A               Arizona  1752886.0
3      A              Arkansas  1188104.0
4      C            California  1487315.0
5      C              Colorado  1875146.0
6      C           Connecticut  1764457.0
7      D              Delaware  1762096.0
8      D  District of Columbia  1193245.0
9      F               Florida  1756185.0
10     G               Georgia  1773090.0
11     H                Hawaii  1919423.0
12     I                 Idaho  1335481.0
13     I              Illinois  1871645.0
14     I               Indiana  1139551.0
15     I                  Iowa  1317983.0
16     K                Kansas  1949478.0
17     K              Kentucky  1301848.0
18     L             Louisiana  1185085.0
19     M                 Maine  1295877.0
20     M              Maryland  1112765.0
21     M         Massachusetts  1978904.0
22     M              Michigan  1990431.0
23     M             Minnesota  1328133.0
24     M           Mississippi  1428291.0
25     M              Missouri  1735099.0
26     M               Montana  1251742.0
27     N              Nebraska  1140598.0
28     N                Nevada  1903270.0
29     N         New Hampshire  1762936.0
30     N            New Jersey  1568034.0
31     N            New Mexico  1237704.0
32     N              New York  1732098.0
33     N        North Carolina  1267737.0
34     N          North Dakota  1720352.0
35     O                  Ohio  1516621.0
36     O              Oklahoma  1256746.0
37     O                Oregon  1482786.0
38     P          Pennsylvania  1274168.0
39     R          Rhode Island  1151409.0
40     S        South Carolina  1250499.0
41     S          South Dakota  1171870.0
42     T             Tennessee  1826406.0
43     T                 Texas  1785986.0
44     U                  Utah  1939284.0
45     V               Vermont  1123567.0
46     V              Virginia  1803330.0
47     W            Washington  1545621.0
48     W         West Virginia  1238174.0
49     W             Wisconsin  1980167.0
50     W               Wyoming  1587602.0

In [22]:
data = pd.DataFrame({"A" : ["John","Mary","Julia","Kenny","Henry"], "B" : ["Libra","Capricorn","Aries","Scorpio","Aquarius"]})
data

       A          B
0   John      Libra
1   Mary  Capricorn
2  Julia      Aries
3  Kenny    Scorpio
4  Henry   Aquarius

In [23]:
#Renaming all the variables.
data.columns = ['Names','Zodiac Signs']

In [24]:
data.columns

Index(['Names', 'Zodiac Signs'], dtype='object')